.body-component{
    margin-top: 10%;
}


.user-set-up{
    border: 0.5px solid rgba(235, 205, 38, 0.678);
    background-color: #8349cf;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(235, 205, 38, 0.678), 0 6px 20px 0 rgba(221, 209, 42, 0.19);
}

.user-set-up:hover{
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-display{
    display: block;
    margin: auto;
    border-radius: 50%;
}

figcaption{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 5% 0 5% 0;
}

.user-creator{
    width: 30%;
    background-color: #dbc927;
    border: 1px solid black ;
    margin-inline: 35%;
    border-radius: 20px;
}

.user-creator:hover{
    background-color: #009474;
}