.body-component{ margin-top: 10%; }
 

.user-type-container{
    border: 0.5px solid rgba(235, 205, 38, 0.678);
    background-color: #0b96db;
    border-radius: 10%;
    box-shadow: 0 -4px 8px 0 rgba(235, 205, 38, 0.678), 0 6px 20px 0 rgba(221, 209, 42, 0.19);
}

.user-type-container:hover{
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 
.user-image-display{
    display: block;
    margin: auto;
    border-radius: 50%;
}


.btn{
    width: 10em;
    position: relative;
    bottom: 1em;
    background-color: darkcyan;
    border: 1px solid black ;
    border-radius: 20px;
}

.btn:hover{
    background-color: #009474;
}

.box-caption{
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-align: center;
    word-wrap: break-word;
    margin: 5% 0 5% 0;
}

@media (max-width: 768px){

   .mob-col{
       margin-top: 1em;  }
  
    .user-image-display{
        margin-top: 1fr;
        height: 15vh;
        width: 15vh;
    }

    .box-caption{margin: 5px;}

    .btn{margin-top: 1em;}

}